.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid red;
  padding: 10px;
  border-radius: 10px;
}

.item {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}
