.form {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.form input,
.form button {
  padding: 5px 10px;
  font-size: 16px;
}
.form input:focus,
.form > input {
  border: 2px solid transparent;
  outline: none;
}

.error {
  border: 2px solid red;
}

.success {
  border: 2px solid green;
}
