*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background-color: aqua;
  padding: 20px 30px;
  border-radius: 10px;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.plus-btn {
  padding: 4px 8px;
  margin: 10px 0;
  border-radius: 4px;
}
